@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left:570px;
    top:500px;
    width:300px;
    height: 30px; 
}

video#filme {
    display: block;
    position: relative;
    left: 85px;
    top:20px;
    width: 440px;
    height: 350px;
}